<div class="footer__top">
  <div class="container">
    <div class="footer__row">
      <!-- Footer column 1 -->
      <div class="footer__column">
        <a href="#!" class="footer__logo-link">
          <img src="./assets/icons/Logo.svg" alt="grocerymart" class="footer__logo-img">
        </a>
      </div>

      <!-- Footer column 2 -->
      <div class="footer__column">
        <h3 class="footer__heading">SOLUTIONS</h3>

        <ul class="footer__list">
          <li class="footer__item">
            <a href="#!" class="footer__link">Explainable Ai</a>
          </li>

          <li class="footer__item">
            <a href="#!" class="footer__link">ML Monitoring</a>
          </li>

        </ul>
      </div>

      <!-- Footer column 3 -->
      <div class="footer__column">
        <h3 class="footer__heading">User cases</h3>

        <ul class="footer__list">
          <li class="footer__item">
            <a href="#!" class="footer__link">Fraud</a>
          </li>

          <li class="footer__item">
            <a href="#!" class="footer__link">Churn detection</a>
          </li>

          <li class="footer__item">
            <a href="#!" class="footer__link">Underwiting</a>
          </li>

        </ul>
      </div>

      <!-- Footer column 4 -->
      <div class="footer__column">
        <h3 class="footer__heading">Resources</h3>

        <ul class="footer__list">
          <li class="footer__item">
            <a href="#!" class="footer__link">Resources Hub</a>
          </li>

          <li class="footer__item">
            <a href="#!" class="footer__link">Blog</a>
          </li>

          <li class="footer__item">
            <a href="#!" class="footer__link">Learn More</a>
          </li>

        </ul>
      </div>

      <!-- Footer column 5 -->
      <div class="footer__column">
        <h3 class="footer__heading">Company</h3>

        <ul class="footer__list">
          <li class="footer__item">
            <a href="#!" class="footer__link">About Us</a>
          </li>

          <li class="footer__item">
            <a href="#!" class="footer__link">Careers</a>
          </li>

          <li class="footer__item">
            <a href="#!" class="footer__link">Event</a>
          </li>

          <li class="footer__item">
            <a href="#!" class="footer__link">Contact Us</a>
          </li>

          <li class="footer__item">
            <a href="#!" class="footer__link">Privacy Policy</a>
          </li>

        </ul>
      </div>

      <!-- Footer column 6 -->
      <div class="footer__column">
        <h3 class="footer__heading">Subscribe</h3>

        <form action="" class="footer__form">
          <input type="text" id="name" name="name" class="footer__input" placeholder="Name">

          <input type="email" id="email" name="email" placeholder="Company Email"
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" class="footer__input" required>

          <button class="btn btn--primary footer__btn" type="submit" value="Submit">
            Subscribe
          </button>
        </form>
      </div>
    </div>
  </div>
</div>


<div class="footer__bottom">
  <div class="container">
    <div class="footer__bottom-row">
      <p class="footer__copyright">© 2010 - 2025 Grocery Mart. All rights reserved.</p>

      <div class="footer__socials">
        <a href="#!" class="footer__social-link footer__social-link--facebook">
          <img src="./assets/icons/facebook.svg" alt="" class="footer__social-icon" />
        </a>

        <a href="#!" class="footer__social-link footer__social-link--youtube">
          <img src="./assets/icons/youtube.svg" alt="" class="footer__social-icon" />
        </a>

        <a href="#!" class="footer__social-link footer__social-link--tiktok">
          <img src="./assets/icons/tiktok.svg" alt="" class="footer__social-icon" />
        </a>

        <a href="#!" class="footer__social-link footer__social-link--twitter">
          <img src="./assets/icons/twitter.svg" alt="" class="footer__social-icon" />
        </a>

        <a href="#!" class="footer__social-link footer__social-link--linkedin">
          <img src="./assets/icons/linkedin.svg" alt="" class="footer__social-icon" />
        </a>
      </div>
    </div>
  </div>
</div>