<div class="container">
  <section class="top-bar">
    <!-- logo -->
    <a class="logo__link logo">
      <img src="./assets/icons/Logo.svg" alt="Grocerymart" class="logo__img">
      <h1 class="logo__title">grocerymart</h1>
    </a>

    <!-- navbar -->
    <nav class="navbar">
      <ul class="navbar__list">
        <li class="navbar__item">
          <a href="" class="navbar__link">
            Departments
            <img src="./assets/icons/arrow-down.svg" alt="ion-arrow-down" class="icon navbar__icon">
          </a>
        </li>

        <li class="navbar__item">
          <a href="" class="navbar__link">
            Grocery
            <img src="./assets/icons/arrow-down.svg" alt="ion-arrow-down" class="icon navbar__icon">
          </a>
        </li>

        <li class="navbar__item">
          <a href="" class="navbar__link">
            Beauty
            <img src="./assets/icons/arrow-down.svg" alt="ion-arrow-down" class="icon navbar__icon">
          </a>
        </li>
      </ul>
    </nav>

    <!-- actions -->
    <div class="top-action">
      <div class="top-action__group">
        <button class="top-action__btn top-action__btn--single">
          <img src="./assets/icons/search.svg" alt="Search" class="icon top-action__icon">
        </button>
      </div>

      <div class="top-action__group">
        <button class="top-action__btn">
          <img src="./assets/icons/heart.svg" alt="Heart" class="icon top-action__icon">
          <span class="top-action__title">03</span>
        </button>

        <div class="top-action__separate"></div>

        <button class="top-action__btn">
          <img src="./assets/icons/buy-car.svg" alt="Buy" class="icon top-action__icon">
          <span class="top-action__title">$65.42</span>
        </button>
      </div>

      <div class="top-action__user">
        <img src="./assets/imgs/avatar-1.jpg" alt="Avatar" class="top-action__avatar">
      </div>
    </div>
  </section>
</div>