@use '../abstracts';

.checkout-page {
  display: flex;
  flex-direction: column;
  // background: var(--product-page-bg-color);

  // @include abstracts.screen(md) {
  //   background: var(--product-page-md-bg-color);
  // }
}

.checkout__home {
  margin: 30px 0;

  @include abstracts.screen(lg) {
    margin: 20px 0;
  }

  & .breadcrums {
    background: var(--checkout-breadcrums-bg);
  }
}

.checkout-container {
  --grid-gutter-y: 30px;

  @include abstracts.screen(sm) {
    --grid-gutter-y: 20px;
  }

  & .row {
    @include abstracts.screen(md) {
      flex-direction: column-reverse;
    }
  }
}

.cart-info {
  padding: 30px;
  border-radius: 2rem;
  background: var(--checkout-cart-info-bg);
  box-shadow: 0px 20px 60px 10px var(--checkout-cart-info-shadow);

  @include abstracts.screen(lg) {
    padding: 20px;
  }

  @include abstracts.screen(sm) {
    padding: 16px;
  }

  & + .cart-info {
    margin-top: 30px;

    @include abstracts.screen(sm) {
      margin-top: 20px;
    }
  }

  &__septem {
    width: 100%;
    margin: 15px 0;
    border: 1px solid var(--checkout-cart-info-item-border);
  }

  &__list {
    &--shipping .cart-info__item:last-child {
      border: none;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 30px 0;
    border-bottom: 1px solid var(--checkout-cart-info-item-border);

    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      border: none;
      padding-bottom: 0;
    }

    @include abstracts.screen(xl) {
      gap: 10px;
      padding: 15px 0;
    }

    @include abstracts.screen(lg) {
      justify-content: space-between;

      &:last-child {
        border: none;
      }
    }

    @include abstracts.screen(sm) {
      gap: 0;
      align-items: start;
    }
  }

  &__card {
    display: flex;
    align-items: center;
  }

  &__link {
    color: var(--checkout-text-color);
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 144.444%;

    @include abstracts.screen(sm) {
      font-size: 1.4rem;
    }
  }

  &__thumb {
    width: 135px;
    height: 132px;
    object-fit: contain;

    &:hover {
      border-radius: 20px;
      border: 1px solid var(--checkout-thumb-hover);
    }

    @include abstracts.screen(sm) {
      width: 125px;
      height: 123px;
    }

    @include abstracts.screen(sm) {
      width: 90px;
      height: 90px;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
    flex: 1;

    @include abstracts.screen(xl) {
      gap: 10px;
      flex-direction: column;
    }
  }

  &__content-left {
    display: flex;
    flex-direction: column;
    gap: 10px;

    @include abstracts.screen(sm) {
      gap: 6px;
    }
  }

  &__content-right {
    justify-content: flex-end;
  }

  &__price-wrap {
    color: var(--auth-title-color);
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: 144.444%;
  }

  &__status {
    color: #67b044;
  }

  &__ctrl {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__input {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid var(--Secondary-Color-Secondary-3, #d2d1d6);
    cursor: pointer;

    &:hover .cart-info__input-img {
      translate: 0 3px;
    }

    @include abstracts.screen(sm) {
      padding: 6px;
    }
  }

  &__button {
    width: 22px;
    height: 22px;
  }

  &__input-img {
    filter: var(--checkout-icon-color);
    transition: translate 0.25s;
  }

  &__input-btn {
    filter: var(--checkout-icon-color);

    &:hover {
      opacity: 0.7;
      cursor: pointer;
    }
  }

  &__content-right {
    display: flex;
    text-align: end;
    justify-content: space-between;
    flex-direction: column;

    @include abstracts.screen(xl) {
      flex-direction: row;
      align-items: center;
    }
  }

  &__price {
    color: var(--checkout-text-color);
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 145.455%;

    @include abstracts.screen(sm) {
      font-size: 1.8rem;
    }
  }

  &__ctrl-btn {
    display: flex;
    align-items: center;
    gap: 10px;

    width: inherit;
    height: inherit;
    color: #9e9da8;
    font-weight: 500;
    padding: 8px;

    &:hover {
      background: var(--checkout-ctrl-btn-hover);
      border-radius: 10px;
    }

    @include abstracts.screen(sm) {
      padding: 10px 15px;
      margin-left: -15px;
    }

    & .icon {
      filter: var(--checkout-like-btn);
    }

    &.like-btn--liked {
      gap: 0.2px;
      height: 40px;
      padding: 0;
      padding-right: 8px;
    }

    &.like-btn--liked .like-btn__icon--liked {
      margin-top: 8px;
    }
  }

  &__bottom {
    & .row {
      @include abstracts.screen(md) {
        display: flex;
        flex-direction: row;
      }
    }
  }

  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;

    color: var(--checkout-text-color);
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 144.444%;

    & + .cart-info__row {
      margin-top: 10px;
    }

    &--bold {
      font-size: 2.2rem;
      font-weight: 700;
      line-height: 145.455%;
    }
  }

  &__separete {
    margin: 30px 0;
    border: 1px solid var(--checkout-cart-info-item-border);
  }

  &__continue {
    height: 100%;
    display: flex;
    align-items: flex-end;

    &--center {
      align-items: center;
    }
  }

  &__continue-link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 10px 0 0;
    gap: 10px;

    color: var(--checkout-text-color);

    &:hover {
      text-decoration: underline;
    }

    &:hover .cart-info__continue-img {
      translate: -5px;
    }

    @include abstracts.screen(lg) {
      padding: 10px 10px 10px 0;
    }
  }

  &__continue-img {
    filter: var(--checkout-icon-color);
    rotate: 90deg;
    transition: translate 0.3s;
  }

  &--right {
    & .cart-info__row {
      font-size: 1.6rem;
      font-weight: 500;
      line-height: 150%;

      & + .cart-info__row {
        margin-top: 14px;
      }
    }

    & .normal {
      color: var(--checkout-cart-info-normal);
      font-weight: 400;
    }

    & .cart-info__separete {
      margin: 14px 0;
    }
  }

  &__row .bold {
    font-weight: 700;
  }

  &__btn {
    min-width: min(330px, 100%);
    height: 54px;
    margin-top: 30px;

    font-size: 2.2rem;
    font-weight: 500;
    line-height: 145.455%;
    margin-left: auto;

    @include abstracts.screen(lg) {
      height: 50px;
    }

    @include abstracts.screen(sm) {
      font-size: 2rem;
      width: 100%;
    }
  }

  &__title {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 144.444%;
  }

  &__span {
    margin-top: 10px;
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 142.857%;

    &--total {
      font-size: 1.8rem;
      margin-top: 3px;
    }
  }

  &__gift {
    display: flex;
    align-items: center;
    gap: 20px;

    @include abstracts.screen(lg) {
      flex-direction: column;
      gap: 10px;
    }

    @include abstracts.screen(md) {
      flex-direction: row;
      gap: 16px;
    }
  }

  &__gift-link {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 76px;
    height: 76px;
    padding: 10px;
    border-radius: 14px;
    background: var(--checkout-cart-info-gift-bg);
    box-shadow: 0px 20px 60px 10px var(--checkout-cart-info-shadow-bg);
    transition: opacity 0.2s;

    &:hover {
      opacity: 0.8;
    }
  }

  &__input-span {
    color: var(--checkout-text-color);
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 146.667%;

    @include abstracts.screen(sm) {
      font-size: 1.4rem;
    }
  }

  &__info {
    color: var(--checkout-text-color);
  }

  &__top-center {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;

    @include abstracts.screen(lg) {
      margin-top: 20px;
    }

    @include abstracts.screen(sm) {
      align-items: start;
      flex-direction: column;
      gap: 16px;
      margin-top: 16px;
    }
  }

  &__heading {
    color: var(--checkout-text-color);
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 141.667%;

    @include abstracts.screen(lg) {
      font-size: 2rem;
      line-height: 150%;
    }

    @include abstracts.screen(sm) {
      font-size: 1.6rem;
      line-height: 150%;
    }

    &--pay {
      font-size: 2.2rem;
      font-weight: 500;
      line-height: 145%;

      border: none;
    }
  }

  &__desc {
    color: var(--checkout-text-color);
    margin-top: 4px;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 146.667%;
  }
}

.user-address {
  margin-top: 30px;

  @include abstracts.screen(lg) {
    margin-top: 20px;
  }

  @include abstracts.screen(sm) {
    margin-top: 16px;
  }

  &__item {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-bottom: 30px;

    @include abstracts.screen(lg) {
      padding-bottom: 20px;
    }

    @include abstracts.screen(sm) {
      align-items: start;
      flex-direction: column;
      padding-bottom: 16px;
    }
  }

  &__item + &__item {
    border-bottom: 1px solid var(--checkout-cart-info-item-border);
  }

  &__info {
    color: var(--checkout-text-color);
  }

  &__pay {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;

    margin-bottom: 30px;
    padding: 20px;
    border-radius: 20px;
    background: var(--body-bg-color);

    &:last-child {
      margin-bottom: 0;
    }

    @include abstracts.screen(lg) {
      padding: 16px;
      margin-bottom: 20px;
    }
  }

  &__pay--column {
    @include abstracts.screen(sm) {
      gap: 16px;
      flex-direction: column-reverse;

      & .user-address__choose {
        padding-left: 5px;
      }
    }
  }

  &__title {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 144.444%;
  }

  &__desc {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 146.667%;
    margin-top: 4px;
    color: var(--checkout-text-color);
  }

  &__features {
    display: flex;
    gap: 60px;
    margin-top: 20px;
    margin-left: 20px;
    list-style-type: disc;
  }

  &__feature {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 142.857%;
  }

  &__left {
    display: flex;
    gap: 16px;
  }

  &__right {
  }

  &__btn {
    gap: 10px;
    height: 46px;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 144.444%;
    padding: 12px;

    @include abstracts.screen(lg) {
      font-size: 1.6rem;
    }
  }

  &__btn-edit {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    color: var(--checkout-text-color);
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 144.444%;

    padding: 10px;
    margin: -10px;
    border-radius: 10px;
    transition: background 0.3s;

    &:hover {
      background: var(--checkout-ctrl-btn-hover);
    }

    &:hover .user-address__icon {
      translate: -3px;
    }
  }

  &__icon {
    filter: var(--checkout-icon-color);
    transition: translate 0.3s;
  }

  &__checkbox {
  }

  &__input {
    margin-top: 8px;
    appearance: none;

    &::before {
      content: url('../icons/uncheckbox.svg');
    }

    &:checked::before {
      content: url('../icons/checkbox.svg');
    }
  }

  &__img {
    width: 70px;
    height: 54px;
    padding: 5px;
    background: #fff;
    border-radius: 10px;
    object-fit: contain;
  }

  &__span {
    color: #9e9da8;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 144.444%;
  }

  &__checkbox {
    &--pay {
      display: flex;
      gap: 14px;
    }

    &--checkout {
      display: flex;
      align-items: center;
      gap: 14px;
    }
  }

  &__choose--left {
    @include abstracts.screen(md) {
      padding-left: 27px !important;
    }
  }
}

.cart-pay {
  padding: 30px;
  border-radius: 2rem;
  background: var(--checkout-cart-info-bg);
  box-shadow: 0px 20px 60px 10px var(--checkout-cart-info-shadow);
  margin-bottom: 30px;

  @include abstracts.screen(lg) {
    padding: 20px;
  }

  @include abstracts.screen(sm) {
    padding: 16px;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &__top {
  }

  &__heading {
    font-size: 2.2rem;
    font-weight: 500;
    line-height: 145%;

    border: none;
    color: var(--checkout-text-color);
  }
}
