@use '../abstracts';

.container {
  position: relative;
}

.profile {
  margin-top: 110px;
  border-radius: 10px;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);

  @include abstracts.screen(sm) {
    margin-top: 170px;
  }
  @include abstracts.screen(lg) {
    --grid-gutter-x: 20px;
    --grid-gutter-y: 20px;
  }

  &__link {
    font-size: 1.4rem;
    color: #6c6c72;
    margin-bottom: 1rem;
  }

  &__border {
    margin-bottom: 1rem;
    border-bottom: 1px solid var(--profile-border-color);
  }

  & .cart-info {
    border-radius: 10px;
  }

  &__home {
    margin-top: 30px;

    @include abstracts.screen(lg) {
      margin-top: 20px;
    }
  }

  &-container {
    display: inline-block;
    width: 100%;
    border-radius: 20px;
    background: var(--profile-container-bg);
    box-shadow: 0px 20px 60px 10px var(--profile-container-bg-shadow);
  }

  &__icon {
    filter: var(--checkout-icon-color);
    transition: translate 0.25s;
  }
}

.profile-user {
  background: linear-gradient(180deg, rgba(26, 22, 46, 0) 0%, #1a162e 90%),
    url('../imgs/profile/cover.jpg') no-repeat center;

  padding: 35px 0 20px;
  text-align: center;
  border-radius: 20px 20px 0px 0px;
  box-shadow: 0px 20px 60px 10px var(--profile-container-bg-shadow);

  &__avatar {
    width: 116px;
    height: 116px;
    object-fit: cover;
    border-radius: 116px;
    border: 5px solid rgba(255, 255, 255, 0.2);
    background: url(<path-to-image>), lightgray -475.937px -52.524px / 819.939% 546.626% no-repeat,
      #dfd2fa;
    box-shadow: 0px 4px 14px 2px rgba(0, 0, 0, 0.08);
  }

  &__name {
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    line-height: 144.444%;
  }

  &__desc {
    color: #fafafd;
    font-size: 15px;
    font-weight: 500;
    line-height: 146.667%;
  }
}

.profile-menu {
  margin: 25px 30px;

  @include abstracts.screen(md) {
    margin: 20px !important;
  }

  &__title {
    color: var(--profile-menu-title);
    font-size: 18px;
    font-weight: 500;
    line-height: 144.444%;
  }

  &__list {
  }

  &__item {
    padding: 5px 0;

    &:first-child {
      margin-top: 11px;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    gap: 10px;

    &:hover {
      text-decoration: underline;
    }
  }

  &__span {
    color: var(--profile-menu-span);
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 146.667%;
  }

  &__icon {
    width: 24px;
    height: 24px;
    object-fit: contain;
  }
}

.favourite-item {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 16px;

  @include abstracts.screen(lg) {
    gap: 10px;
  }

  &__thumb {
    width: 150px;
    height: 108px;
    object-fit: contain;

    &:hover {
      border-radius: 20px;
      border: 1px solid var(--checkout-thumb-hover);
    }

    @include abstracts.screen(lg) {
      width: 110px;
      height: 78px;
    }
  }

  &__content {
    display: flex;
    align-items: center;
    gap: 20px;

    @include abstracts.screen(lg) {
      gap: 0;
      justify-content: space-between;
    }
  }

  &__heading {
    color: var(--profile-menu-title);
    font-size: 1.6rem;
    line-height: 146.667%;
    margin-bottom: 16px;

    &:hover {
      text-decoration: underline;
    }

    @include abstracts.screen(lg) {
      margin-bottom: 10px;
    }

    @include abstracts.screen(sm) {
      color: var(--profile-menu-title);
      font-size: 14px;
      line-height: 142.857%;
    }
  }

  &__price {
    color: var(--profile-menu-title);
    font-size: 2.2rem;
    line-height: 145.455%;

    @include abstracts.screen(sm) {
      font-size: 1.8rem;
      line-height: 144.444%;
    }
  }

  &__btn {
    font-size: 1.5rem;
    height: 42px;

    @include abstracts.screen(sm) {
      height: 38px;
      padding: 0 10px;
    }
  }
}

.payment {
  margin-top: 16px;
  --grid-gutter-x: 20px;
  --grid-gutter-y: 20px;

  @include abstracts.screen(lg) {
    --grid-gutter-x: 16px;
    --grid-gutter-y: 16px;
  }
}

.account {
  margin-top: 16px;
  --grid-gutter-x: 20px;
  --grid-gutter-y: 20px;

  @include abstracts.screen(lg) {
    --grid-gutter-x: 16px;
    --grid-gutter-y: 16px;
  }
}

.represent {
  position: relative;

  &-bg {
    position: relative;
    width: 100%;
    padding-top: 22%;
    flex-shrink: 0;

    @include abstracts.screen(sm) {
      padding-top: 30%;
    }
  }

  &-bg-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &-content {
    position: absolute;
    bottom: -90px;
    left: 10%;

    display: flex;
    align-items: center;
    gap: 10px;

    @include abstracts.screen(sm) {
      top: 50px;
      left: 50%;
      bottom: 0;
      text-align: center;
      flex-direction: column;
      transform: translateX(-50%);
    }
  }

  &-avatar {
    width: 168px;
    height: 168px;
    border-radius: 99px;
    object-fit: cover;
    border: 8px solid #fff;

    @include abstracts.screen(sm) {
      border: none;
    }
  }

  &-text {
    margin-top: 80px;
    color: var(--text-color);

    @include abstracts.screen(sm) {
      margin-top: 0;
    }
  }

  &-name {
    font-size: 3.4rem;
    font-weight: 700;
  }

  &-gmail {
    margin-top: 6px;
    color: var(--filter-btn-title-color);
  }

  &-update {
    position: absolute;
    bottom: 15px;
    right: 40px;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;

    font-size: 1.4rem;
    font-weight: 500;
    min-width: min(276px, 100%);
    opacity: 0.9;
    padding: 10px;
    max-height: 40px;
    cursor: pointer;
    border-radius: 6px;
    background-color: #fff;
    border-radius: 99px;

    @include abstracts.screen(sm) {
      min-width: inherit;
      border-radius: 10px;
    }
  }

  &-update--avatar {
    min-width: inherit;
    opacity: 1;
    left: 120px;
    right: inherit;
    padding: 4px;
    background: #ccc;

    @include abstracts.screen(sm) {
      bottom: -80px;
      border-radius: 999px;
    }

    & .represent-update__img {
      width: 34px;
      height: 34px;
    }
  }

  &-update__img {
    width: 24px;
    height: 24px;
  }

  &-update__desc {
    margin-top: 3px;
    font-weight: 600;
    color: #1a162e;

    @include abstracts.screen(sm) {
      display: none;
    }
  }
}
