@use '../abstracts';

.product-page {
  display: flex;
  flex-direction: column;
  background: var(--product-page-bg-color);

  @include abstracts.screen(md) {
    background: var(--product-page-md-bg-color);
  }
}

.product__all {
  @include abstracts.screen(md) {
    border-radius: 2rem;
    background: var(--product-all-bg-md);
    box-shadow: 0px 20px 60px 10px var(--product-property-icon-filter);
  }
}

.product__home {
  margin-top: 30px;
}

.product__preview {
  &-main {
    position: relative;
    width: 100%;
    padding-top: 92%;
  }

  &-main-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &-thumbs {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-thumbs-img {
    width: 110px;
  }
}

.product__search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding: 13px 15px;
  border-radius: 10px;
  background: var(--product-search-bg);

  &-input {
    color: var(--product-search-input-color);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2rem;
  }

  &-icon {
    filter: var(--product-search-filter);
  }
}

.product-info {
  background: var(--product-info-bg-color);
  padding: 40px;
  border-radius: 20px;

  @include abstracts.screen(md) {
    background: var(--product-info-bg-color-md);
  }

  &__heading {
    color: var(--product-info-heading);
    font-size: 2.6rem;
    font-weight: 500;
    line-height: 138.462%;

    @include abstracts.screen(md) {
      font-size: 1.8rem;
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    gap: 20px;

    padding: 20px;
    border-radius: 6px;
    border: 1px solid var(--product-info-card-border);
  }

  &__row {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__price {
    color: var(--product-info-price-color);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 150%;
  }

  &__tax {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.8) 100%),
      #67b044;

    padding: 2px 8px;
    color: #67b044;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 142.857%;
  }

  &__totol-price {
    color: var(--product-info-price-color);
    font-size: 2.6rem;
    font-weight: 500;
    line-height: 138.462%;
  }

  &__btn {
    width: 213px;
    height: 46px;
    color: var(--product-info-btn-color);
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 144.444%;

    @include abstracts.screen(xl) {
      max-width: 100%;
    }
  }

  &__like-btn {
    height: 46px;
    border-radius: 6px;
  }
}

.product-property {
  display: flex;
  align-items: flex-start;
  gap: 0 16px;
  margin: 30px 0;

  @include abstracts.screen(xl) {
    margin: 20px 0;
  }

  &__icon {
    width: 24px;
    height: 24px;
    filter: var(--product-property-icon-filter);
  }

  &__size {
    align-items: flex-start;
    flex-direction: column;

    & .form__group {
      width: 100%;
    }

    & .form__tag {
      font-size: 1.5rem;
      font-weight: 500;
      line-height: 146.667%;
      background: var(--product-property-tag-bg);
    }
  }

  &__title {
    color: var(--product-property-title);
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 144.444%;
  }

  &__span {
    color: var(--product-property-span);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 142.857%;
  }
}
