@use '../abstracts';

.filter-wrap {
  position: relative;
}

.filter {
  position: absolute;
  top: calc(100% + 20px);
  right: 0;
  z-index: 10;
  padding: 30px 0 0;
  border-radius: 20px;
  background: var(--filter-form-bg);
  box-shadow: 0px 40px 90px var(--filter-form-shadow);

  scale: 1;
  opacity: 1;

  @include abstracts.screen(sm) {
    max-height: 100vh;
    overflow-y: auto;

    position: fixed;
    inset: 0 20% 0 0;
    border-radius: 0rem 2rem 2rem 0rem;

    opacity: 0;
    translate: -100%;
    visibility: hidden;

    transition-delay: 0.1s;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transition-property: opacity, translate, visibility;

    &.show {
      opacity: 1;
      translate: 0;
      visibility: visible;
    }

    &.show ~ .overlay {
      opacity: 1;
      visibility: visible;
    }
  }

  &.hide {
    scale: 0;
    opacity: 0;
    visibility: hidden;
    transform-origin: 96% top;
    transition: opacity 0.3s, visibility 0.3s, scale 0.3s;
  }

  &__icon {
    position: absolute;
    top: -4.1%;
    right: 2.5%;
    height: 19px;
    filter: var(--filter-form-bg);

    @include abstracts.screen(xl) {
      top: -3%;
      right: 7%;
    }

    @include abstracts.screen(sm) {
      right: 8%;
    }
  }

  &__heading {
    color: var(--form-heading-color);
    font-size: 2.2rem;
    line-height: 145.455%;
  }

  &__row {
    display: flex;
  }

  &__col + &__col {
    margin-top: 30px;
  }

  &--separate {
    border: 1px solid #eee;
    margin: 0 30px;

    @include abstracts.screen(xl) {
      opacity: 0;
      margin-top: 30px;
    }
  }

  &__btn {
    display: flex;
    justify-content: flex-end;
    padding: 18px 30px 30px;

    @include abstracts.screen(xl) {
      background: var(--filter-form-bg);
    }

    @include abstracts.screen(sm) {
      position: sticky;
      bottom: 30px;
      padding-bottom: 0;
      border-bottom-right-radius: 30px;
    }
  }

  &__btn--cancel,
  &__btn--submit {
    height: 38px;

    @include abstracts.screen(sm) {
      height: 42px;
    }
  }

  &__btn--cancel {
    font-size: 1.5rem;
  }

  &__btn--submit {
    font-size: 1.4rem;
    font-weight: 500;
    padding: 9px 10px;
  }
}

.filter__form {
  display: block;
  margin-top: 30px;

  @include abstracts.screen(xl) {
    margin-top: 0;
  }

  @include abstracts.screen(sm) {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &-content {
    padding: 0 30px;
    overflow-y: auto;
    overscroll-behavior: contain;

    @include abstracts.screen(xl) {
      flex-direction: column;
      max-height: 350px;
    }

    @include abstracts.screen(sm) {
      max-height: calc(100vh - 80px);
      padding-bottom: 50px;
    }
  }

  &-slider {
    position: relative;
    width: 100%;
    height: 2px;
    background: #d2d1d6;
    cursor: pointer;

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      translate: 0 -50%;
      width: 22px;
      height: 22px;
      border: 6px solid #ffb700;
      background: var(--filter-form-bg);
      border-radius: 50%;
    }

    &::before {
      left: var(--min-value);
    }

    &::after {
      right: var(--max-value);
    }
  }

  &-search {
    display: flex;
    position: relative;

    &-input {
      width: 100%;
      height: 44px;

      padding: 10px 56px 10px 16px;
      font-size: 1.5rem;
      font-weight: 500;
      line-height: 146.667%;

      border-radius: 0.6rem;
      border: 1px solid #d2d1d6;

      &::placeholder {
        font-weight: 400;
        color: var(--filter-form-placeholder-color);
      }

      @include abstracts.screen(sm) {
        width: 100%;
        font-size: 1.6rem;
      }
    }

    &-icon {
      position: absolute;
      top: 50%;
      translate: 0 -50%;
      right: 16px;
    }
  }
}
