@use '../abstracts';

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
  cursor: pointer;

  @include abstracts.screen(lg) {
    gap: 10px;
  }

  &__title {
    font-size: 2.2rem;
    font-weight: 800;
    line-height: 145.455%;

    @include abstracts.screen(lg) {
      font-size: 2rem;
    }

    @include abstracts.screen(sm) {
      font-size: 1.8rem;
      line-height: 144.444%;
    }
  }

  &__icon {
    object-fit: cover;

    @include abstracts.screen(lg) {
      width: 28px;
      height: 28px;
    }

    @include abstracts.screen(sm) {
      width: 24px;
      height: 24px;
    }
  }
}
