@use '../abstracts';

html.dark {
  --text-color: #fff;
  --icon-color: brightness(0) saturate(100%) invert(72%) sepia(0%) saturate(6797%)
    hue-rotate(298deg) brightness(102%) contrast(99%);
  --body-bg-color: #292e39;
  --header-bg-color: #171c28;
  --input-border-color: #292e39;
  --top-action-bg-color: #292e39;
  --top-action-group-shadow: rgba(0, 0, 0, 0.2);
  --top-action-separate-color: #40444f;

  @include abstracts.screen(lg) {
    --header-shadow-color: rgba(0, 0, 0, 0.2);
  }

  // form
  --form-label-text: #b9babe;

  // dropdown
  --dropdown-bg-color: #292e39;
  --dropdown-arrow-color: brightness(0) saturate(100%) invert(15%) sepia(14%) saturate(858%)
    hue-rotate(183deg) brightness(97%) contrast(91%);

  --dropdown-shadow-color: rgba(23, 28, 40, 0.4);
  --menu-column-icon-color: brightness(0) saturate(100%) invert(93%) sepia(0%) saturate(1487%)
    hue-rotate(211deg) brightness(105%) contrast(98%);

  --dropdown-close-color: brightness(0) saturate(100%) invert(88%) sepia(0%) saturate(1621%)
    hue-rotate(90deg) brightness(87%) contrast(89%);

  // Sidebar
  --sidebar-bg: #292e39;
  --sidebar-shadow: 0px 40px 90px 20px rgba(23, 28, 40, 0.4);

  // cate-item
  --cate-item-bg: #171c28;
  --cate-item-color-title: #fff;
  --cate-item-bg-thumb: #292e39;

  // filter btn
  --filter-border-color: #3d4048; 
  --filter-btn-bg: #171c28;
  --filter-btn-icon-color: #fff;
  --filter-btn-title-color: #fff;

  // product-item
  --product-item-bg: #171c28;
  --product-item-color: #fff;
  --product-item-shadow: rgba(0, 0, 0, 0.2);
  --product-item-btn-like: #292e39;
  --filter-form-size-bg: #171c28;

  // filter form
  --filter-form-bg: #171c28;
  --filter-form-shadow: rgba(0, 0, 0, 0.4);
  --form-heading-color: #fff;
  --form-tag-bg: #292e39;
  --filter-form-placeholder-color: #9e9da8;
  --filter-form-arrow: var(--filter-form-bg);

  // footer
  --footer-bg-color: #171c28;
  --footer-color-heading: var(--cate-item-color-title);

  // auth
  --auth-intro-bg-color: #171c28;
  --auth-content-bg-color: #292e39;
  --auth-desc-color: #b9babe;
  --auth-title-color: #b9babe;
  --form-input-text-color: #b9babe;
  --form-checkbox-label-color: #b9babe;
  --auth-filter-btn-icon: brightness(0) saturate(100%) invert(69%) sepia(5%) saturate(425%)
    hue-rotate(206deg) brightness(89%) contrast(95%);

  // product detail
  --product-page-bg-color: #292e39;
  --product-page-md-bg-color: #292e39;

  // breadcrums
  --breadcrums-bg-color: #171c28;
  --breadcrums-md-bg-color: #171c28;
  --breadcrums-shadow-color: rgba(23, 28, 40, 0.2);
  --breadcrums-link-color: #9e9da8;
  --breadcrums-link-current: #fff;

  // search bar
  --search-bar-bg: #171c28;
  --search-bar-filter: brightness(0) saturate(100%) invert(81%) sepia(10%) saturate(36%)
    hue-rotate(238deg) brightness(96%) contrast(78%);
  --search-bar-input-color: #b9babe;

  // product property
  --product-all-bg-md: #171c28;
  --product-property-title: #eee;
  --product-property-span: var(--product-property-title);
  --product-property-tag-bg: #292e39;
  --product-property-icon-filter: brightness(0) saturate(100%) invert(98%) sepia(3%) saturate(464%)
    hue-rotate(269deg) brightness(118%) contrast(87%);

  // product info
  --product-info-card-border: #b9babe;
  --product-info-bg-color: #171c28;
  --product-info-bg-color-md: #171c28;
  --product-info-heading: var(--product-property-title);
  --product-info-price-color: var(--product-property-title);
  --product-info-btn-color: var(--product-property-title);

  // product tab
  --product-tab-color: #9e9da8;
  --product-tab-color-active: #fff;
  --product-tab-heading: #fff;
  --review-card-bg-color: #171c28;

  // act dropdown cart
  --act-dropdown-cart-bg: #292e39;
  --act-dropdown-border: #171c28;
  --act-dropdown-cart-shadow: rgba(23, 28, 40, 0.4);
  --act-dropdown-cart-title-color: #b9babe;
  --act-dropdown-cart-hover: rgba(23, 28, 40, 0.4);
  --act-dropdown-cart-border-hover: rgb(255, 255, 255, 0.2);

  // checkout
  --checkout-breadcrums-bg: #171c28;
  --checkout-cart-info-bg: #171c28;
  --checkout-cart-info-shadow: rgba(23, 28, 40, 0.2);
  --checkout-text-color: #b9babe;
  --checkout-icon-color: brightness(0) saturate(100%) invert(81%) sepia(2%) saturate(415%)
    hue-rotate(191deg) brightness(99%) contrast(75%);
  --checkout-ctrl-btn-hover: rgb(255, 255, 255, 0.05);
  --checkout-thumb-hover: rgb(255, 255, 255, 0.08);
  --checkout-cart-info-item-border: #292e39;
  --checkout-cart-info-normal: #9e9da8;
  --checkout-cart-info-gift-bg: #292e39;
  --checkout-cart-info-shadow-bg: rgba(23, 28, 40, 0.4);

  // profile
  --profile-container-bg: #171c28;
  --profile-container-bg-shadow: rgba(23, 28, 40, 0.2);
  --profile-menu-title: #b9babe;
  --profile-menu-span: #b9babe;
  --profile-account-info: #292e39;
  --profile-form-label: #b9babe;
}
