:root {
  --text-color: #1a162e;
  --icon-color: brightness(0) saturate(100%) invert(9%) sepia(24%) saturate(1206%)
    hue-rotate(210deg) brightness(98%) contrast(100%);

  --header-bg-color: #eee;
  --top-action-bg-color: #fff;
  --top-action-group-shadow: rgba(237, 237, 246, 0.2);
  --top-action-separate-color: #ededf6;
}
